.pet-filter-container {
  width: 20%;
}

.filter-container {
  margin-right: 2rem;
  text-align: center;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.form-select {
  width: 80%;
  margin: 0 auto;
  padding: 0.75rem;
}
